name: Build apk and send it via email when releasing

on:
  pull_request:
    branches:
      - '*'
  workflow_dispatch:
    pull_request:
      branches:
        - '*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Build release apk
        run: ./gradlew assembleRelease

      - name: Zip the apk
        run: |
          rm -rf NBAToday.zip
          zip -r NBAToday.zip app/build/outputs/apk/release/NBAToday.apk

      - name: Send the apk via email
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{secrets.MAIL_USERNAME}}
          password: ${{secrets.MAIL_PASSWORD}}
          subject: NBA Today ${{ github.event.release.tag_name }} version has been released
          body: |
            Please do not reply.
            Check the attachment and install/update the latest version of the app.

            Have a nice day! ^^

            Best regards,
            Jia Chian
          to: s2g090123@gmail.com
          from: Jia Chian
          attachments: app/build/outputs/apk/release/NBAToday.zip
