name: Danger Checks

on:
  pull_request:
    branches:
      - '*'

jobs:
  pr:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 100

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'

      - name: Danger Checks
        env:
          DANGER_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gem install bundler
          bundle install
          bundle exec danger --dangerfile ./dangerfiles/DangerPR --danger_id=pr --new-comment --remove-previous-comments

  ktlint:
    runs-on: ubuntu-latest
    needs: [pr]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 100

      - name: Check ktlint
        run: ./gradlew ktlintCheck

      #      - name: Archive ktlint Reports
      #        if: always()
      #        uses: actions/upload-artifact@v2
      #        with:
      #          name: ktlint-report
      #          path: |
      #            app/build/reports/ktlint/*

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'

      - name: Danger Checks
        env:
          DANGER_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gem install bundler
          bundle install
          bundle exec danger --dangerfile ./dangerfiles/DangerKtlint --danger_id=ktlint --new-comment --remove-previous-comments

  detekt:
    runs-on: ubuntu-latest
    needs: [pr]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 100

      - name: Check detekt
        run: ./gradlew detekt

      #      - name: Archive detekt Reports
      #        if: always()
      #        uses: actions/upload-artifact@v2
      #        with:
      #          name: detekt-report
      #          path: |
      #            app/build/reports/detekt/detekt.html

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'

      - name: Danger Checks
        env:
          DANGER_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gem install bundler
          bundle install
          bundle exec danger --dangerfile ./dangerfiles/DangerDeteKt --danger_id=detekt --new-comment --remove-previous-comments

  androidLint:
    runs-on: ubuntu-latest
    needs: [pr]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 100

      - name: Check Android lint
        run: ./gradlew lint

      #      - name: Archive android lint Reports
      #        if: always()
      #        uses: actions/upload-artifact@v2
#        with:
      #          name: android-lint-report
      #          path: |
      #            app/build/reports/lint-results-debug.html

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'

      - name: Danger Checks
        env:
          DANGER_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gem install bundler
          bundle install
          bundle exec danger --dangerfile ./dangerfiles/DangerAndroidLint --danger_id=androidlint --new-comment --remove-previous-comments
